.Margin{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.InputSize{
    width: 155px;
    height: 28px;
    border-color: #b4b4b4;
    border-style: solid;
    border-radius: 2px;
    border-width: thin;
}