#newNotifications {
  margin-top: 60px;
  hr {
    margin-top: -20px;
  }
}

#searchBar {
  input{
      margin-top:60px;
      width: 294px;
      height: 34px;
  }
}

#topics {
  margin-top:20px;
}

#friends {
  position: relative;
}

#profile-banner{
  margin-top: 60px;
}

.relative {
  position: relative;
}