@import '@clean/presentation/assets/scss/variables';

.inputElement {
  display: block;
  height: 40px;
  padding-left: 20px;
  border-radius: 4px;
  border: 0.5px solid #c6c6c6;
  width: 100%;

  &.errorField {
    border-color: #ec5a5a;
    box-shadow: #ffbcbc 0px 0px 0.5px 2px;

    &:focus {
      outline: none;
      border: 1px solid #ec5a5a !important;
    }
  }
}

.formControl {
  display: block;
  margin: 15px auto;
  min-width: 80%;

  .label {
    display: block;
    margin-bottom: 10px;
  }

  &.mb {
    margin-bottom: 40px;
  }

  textarea {
    padding-top: 20px;
    padding-right: 20px;
    height: 200px !important;
    resize: none;
  }

  input[type='text'],
  input[type='password'],
  textarea {
    &:focus {
      outline: none;
      border: 1px solid $secondary-color;
    }

    ::placeholder {
      color: $light-shadow;
    }
  }
}
