#HeadTitle {
  margin-top: 75px;
}

.heading-section {
  text-align: center;
  margin-top: 25px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;

  h1 {
    font-size: 34px;
    color: #008597;
  }
  
}

.Description{
    box-sizing: border-box;
    border-width: thick;
}

.BotonF {
  width: 289px;
  height: 43px;
  border-radius: 4px;
  background: #3b5998;
  color: white;
  border-style: hidden;
}

.BotonG {
  width: 289px;
  height: 43px;
  border-radius: 4px;
  background: rgb(240, 236, 236);
  border-style: hidden;
}

.Fill {
  width: 289px;
  height: 43px;
  margin-left: auto;
  margin-right: auto;
}


.Cuenta {
  font-size: 16px;
}

.Question{
  padding-bottom: 42px;
}
.Sesion {
  font-size: 16px;
  text-decoration: none;
}

.NavLink{
  text-decoration: none;
  color: #008597;
  text-align: left;
  margin: 10px 0;
}

#Footer {
  padding-bottom: 35px;
  text-align: center;
  margin-inline-start: 3em;
  margin-inline-end: 3em;
}

.Foot{
  margin-top: 15px;
  max-width: 250px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
