@import '@clean/presentation/assets/scss/mixins';

#uploadAbout {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 20px 20px 20px;

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.sectionTitle {
  text-align: center;
  font-size: 30px;
  color: #008597;
}
