$light-shadow: #C6C6C6;
$primary-color: #A9C500;
$secondary-color: #0072A3;
$section-title-color: #008597;
$shadow-color: #888888;
$light-grey: #B4B4B4;
$lighter-grey: #E4E4E4;
$white-color: #fff;
$error-color: red;